.roadClosed {
    margin: auto;
    height: 55%;
    width: 55%;
}
.header {
    background-color: #FF6600;
    width: 100%;
    height: auto;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    justify-content: center;
}
h1 {
    margin: 10px;
    padding: 5px;
    border: 10px solid black;
    display: flex;
    font-size: 300%;
    font-family: 'Highway Gothic', serif;
    font-family: 'highway_gothicregular';
    font-weight: normal;
    font-style: normal;
    text-align: center;
}
body {
    display: flex; 
    flex-wrap: wrap;
    background-color: #F4C095;
}